<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyABchu3OsTpbSlGQzAG0bx3LbfVm_YzYow</string>
	<key>GCM_SENDER_ID</key>
	<string>1071445998985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.githubpro</string>
	<key>PROJECT_ID</key>
	<string>githubpro-3cba1</string>
	<key>STORAGE_BUCKET</key>
	<string>githubpro-3cba1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071445998985:ios:aebc13804b463ccb08f558</string>
</dict>
</plist>